<div class="container-fluid item-viewer">
    <div class="row item-viewer-title">
        <h1>Notificações</h1>
    </div>
    <div class="row painel-item-list">
        <div class="col-md-12 item-list">
            Notificação 1
        </div>
        <div class="col-md-12 item-list">
            Notificação 1 2222
        </div>
        <div class="col-md-12 item-list">
            Notificação 1
        </div>
        <div class="col-md-12 item-list">
            Notificação 1 2222
        </div>
        <div class="col-md-12 item-list">
            Notificação 1
        </div>
        <div class="col-md-12 item-list">
            Notificação 1 2222
        </div>
        <div class="col-md-12 item-list">
            Notificação 1
        </div>
        <div class="col-md-12 item-list">
            Notificação 1 2222
        </div>
        <div class="col-md-12 item-list">
            Notificação 1
        </div>
        <div class="col-md-12 item-list">
            Notificação 1 2222
        </div>
        <div class="col-md-12 item-list">
            Notificação 1
        </div>
        <div class="col-md-12 item-list">
            Notificação 1 2222
        </div>
    </div>
</div>