<div>
    <h2>
        <span jhiTranslate="vestdeskApp.pedidoItem.home.title">Pedido Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-pedido-item" [routerLink]="['/', { outlets: { popup: ['pedido-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="vestdeskApp.pedidoItem.home.createLabel">
            Create new Pedido Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pedidoItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nomeRoupa"><span jhiTranslate="vestdeskApp.pedidoItem.nomeRoupa">Nome Roupa</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pedidoItem of pedidoItems ;trackBy: trackId">
                <td><a [routerLink]="['../pedido-item', pedidoItem.id ]">{{pedidoItem.id}}</a></td>
                <td>{{pedidoItem.nomeRoupa}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pedido-item', pedidoItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pedido-item/'+ pedidoItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pedido-item/'+ pedidoItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
