
<div *ngIf="layout">
    <h2><span jhiTranslate="vestdeskApp.layout.detail.title">Layout</span> {{layout.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vestdeskApp.layout.oid">Oid</span></dt>
        <dd>
            <span>{{layout.oid}}</span>
        </dd>
        <dt><span jhiTranslate="vestdeskApp.layout.nome">Nome</span></dt>
        <dd>
            <span>{{layout.nome}}</span>
        </dd>
        <dt><span jhiTranslate="vestdeskApp.layout.imagem">Imagem</span></dt>
        <dd>
            <div *ngIf="layout.imagem">
                <a (click)="openFile(layout.imagemContentType, layout.imagem)" jhiTranslate="entity.action.open">open</a>
                {{layout.imagemContentType}}, {{byteSize(layout.imagem)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'layout/'+ layout.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
