<div class="modal-header">
    <h4 class="modal-title" id="myLayoutLabel" jhiTranslate="vestdeskApp.layout.home.pesquisar"></h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="container-fluid">
    <h2>
        <button class="btn btn-primary float-right jh-create-entity create-layout" [routerLink]="['/', { outlets: { popup: ['layout-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="vestdeskApp.layout.home.createLabel">
                Create new Layout
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>

    <div class="row">
        <div class="col-md-6">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" [(ngModel)]="nome">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center botao-central">
            <button class="btn btn-primary" (click)="filtrar()">Pesquisar</button>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive" *ngIf="layouts" style="height: 400px;">
            <table class="table">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    </tr>
                </thead>
                <tbody>
                    {{layouts}}
                    <tr style="display: inline-block; padding: 5px; height: 300px;" [ngClass]="{'selecionado': layout.selecionado}" class="col-md-4"
                        *ngFor="let layout of layouts ;trackBy: trackId">
                        <div class="col-md-12 text-center" (click)="clique(layout)">
                            <input type="checkbox" [(ngModel)]="layout.selecionado">
                            <label for="nome">
                                <b>Nome:</b>
                            </label>
                            {{layout.nome}}
                            <br>
                        </div>
                        <div class="col-md-12">
                            <div class="offset-md-3">
                                <img [src]="'data:image/jpg;base64,' + layout.imagem" width="200px;" alt="">
                            </div>
                            <div class="row" style="position: absolute;top: 40px;padding: 5px;color: black; font-weight: bold;" *ngIf="layout.configuracaoLayout != null || layout.configuracaoLayout != undefined">
                                <div class="col-md-6">
                                    <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.tipoEstampaFrente" for="field_tipoEstampaFrente">Tipo Estampa Frente</label>
                                    <select class="form-control" name="tipoEstampaFrente" [(ngModel)]="layout.configuracaoLayout.tipoEstampaFrente" id="field_tipoEstampaFrente">
                                        <option value="NENHUM">{{'vestdeskApp.TipoEstampa.NENHUM' | translate}}</option>
                                        <option value="BORDADO">{{'vestdeskApp.TipoEstampa.BORDADO' | translate}}</option>
                                        <option value="SILK">{{'vestdeskApp.TipoEstampa.SILK' | translate}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.tipoEstampaCosta" for="field_tipoEstampaCosta">Tipo Estampa Costa</label>
                                    <select class="form-control" name="tipoEstampaCosta" [(ngModel)]="layout.configuracaoLayout.tipoEstampaCosta" id="field_tipoEstampaCosta">
                                        <option value="NENHUM">{{'vestdeskApp.TipoEstampa.NENHUM' | translate}}</option>
                                        <option value="BORDADO">{{'vestdeskApp.TipoEstampa.BORDADO' | translate}}</option>
                                        <option value="SILK">{{'vestdeskApp.TipoEstampa.SILK' | translate}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.tipoEstampaMangaDireita" for="field_tipoEstampaMangaDireita">Tipo Estampa Manga Direita</label>
                                    <select class="form-control" name="tipoEstampaMangaDireita" [(ngModel)]="layout.configuracaoLayout.tipoEstampaMangaDireita"
                                        id="field_tipoEstampaMangaDireita">
                                        <option value="NENHUM">{{'vestdeskApp.TipoEstampa.NENHUM' | translate}}</option>
                                        <option value="BORDADO">{{'vestdeskApp.TipoEstampa.BORDADO' | translate}}</option>
                                        <option value="SILK">{{'vestdeskApp.TipoEstampa.SILK' | translate}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.tipoEstampaMangaEsquerda" for="field_tipoEstampaMangaEsquerda">Tipo Estampa Manga Esquerda</label>
                                    <select class="form-control" name="tipoEstampaMangaEsquerda" [(ngModel)]="layout.configuracaoLayout.tipoEstampaMangaEsquerda"
                                        id="field_tipoEstampaMangaEsquerda">
                                        <option value="NENHUM">{{'vestdeskApp.TipoEstampa.NENHUM' | translate}}</option>
                                        <option value="BORDADO">{{'vestdeskApp.TipoEstampa.BORDADO' | translate}}</option>
                                        <option value="SILK">{{'vestdeskApp.TipoEstampa.SILK' | translate}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center botao-central">
            <button class="btn btn-primary" (click)="finalizar()">Ok</button>
        </div>
    </div>
</div>