<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myModeloVestuarioLabel" jhiTranslate="vestdeskApp.modeloVestuario.home.createOrEditLabel">Create or edit a Modelo Vestuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!modeloVestuario.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="modeloVestuario.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vestdeskApp.modeloVestuario.modelo" for="field_modelo">Modelo</label>
            <select class="form-control" name="modelo" [(ngModel)]="modeloVestuario.modelo" id="field_modelo" required>
                <option value="MOLETOM">{{'vestdeskApp.Modelo.MOLETOM' | translate}}</option>
                <option value="POLO">{{'vestdeskApp.Modelo.POLO' | translate}}</option>
                <option value="BLUSA">{{'vestdeskApp.Modelo.BLUSA' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.modelo?.dirty && editForm.controls.modelo?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.modelo?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary float-right jh-create-entity create-modelo-vestuario" [routerLink]="['/', { outlets: { popup: ['modelo-vestuario-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="vestdeskApp.modeloVestuario.home.createLabel">
                    Create new Modelo Vestuario
                </span>
            </button>
            <label class="form-control-label" jhiTranslate="vestdeskApp.modeloVestuario.configuracaoProduto" for="field_configuracaoProduto">Configuração Produto</label>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <span jhiTranslate="global.field.tamanho">Tamanho</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th>
                                <span jhiTranslate="vestdeskApp.modeloVestuario.preco">Preço</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let configuracaoProduto of modeloVestuario.listaConfiguracaoProdutos ;">
                            <td jhiTranslate="{{'vestdeskApp.Tamanho.' + configuracaoProduto.tamanho}}">{{configuracaoProduto.tamanho}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <!-- <button type="submit" [routerLink]="['../modelo-vestuario', modeloVestuario.id ]" class="btn btn-info btn-sm">
                                        <span class="fa fa-eye"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>
                                    <button type="submit" [routerLink]="['/', { outlets: { popup: 'modelo-vestuario/'+ modeloVestuario.id + '/edit'} }]" replaceUrl="true"
                                        queryParamsHandling="merge" class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit" [routerLink]="['/', { outlets: { popup: 'modelo-vestuario/'+ modeloVestuario.id + '/delete'} }]" replaceUrl="true"
                                        queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                        <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div [hidden]="!(editForm.controls.configuracaoProduto?.dirty && editForm.controls.configuracaoProduto?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.configuracaoProduto?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
</form>