<div>
    <h2>
        <span jhiTranslate="vestdeskApp.modeloVestuario.home.title">Modelo Vestuarios</span>
        <button class="btn btn-primary float-right jh-create-entity create-modelo-vestuario" [routerLink]="['/', { outlets: { popup: ['modelo-vestuario-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="vestdeskApp.modeloVestuario.home.createLabel">
            Create new Modelo Vestuario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="modeloVestuarios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="preco"><span jhiTranslate="vestdeskApp.modeloVestuario.preco">Preco</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="materialId"><span jhiTranslate="vestdeskApp.modeloVestuario.material">Material</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modeloId"><span jhiTranslate="vestdeskApp.modeloVestuario.modelo">Modelo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let modeloVestuario of modeloVestuarios ;trackBy: trackId">
                <td><a [routerLink]="['../modelo-vestuario', modeloVestuario.id ]">{{modeloVestuario.id}}</a></td>
                <td>{{modeloVestuario.preco}}</td>
                <td>
                    <div *ngIf="modeloVestuario.materialId">
                        <a [routerLink]="['../material', modeloVestuario.materialId  ]" >{{modeloVestuario.materialId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="modeloVestuario.modeloId">
                        <a [routerLink]="['../modelo', modeloVestuario.modeloId  ]" >{{modeloVestuario.modeloId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../modelo-vestuario', modeloVestuario.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modelo-vestuario/'+ modeloVestuario.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modelo-vestuario/'+ modeloVestuario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
