
<div *ngIf="modeloVestuario">
    <h2><span jhiTranslate="vestdeskApp.modeloVestuario.detail.title">Modelo Vestuario</span> {{modeloVestuario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vestdeskApp.modeloVestuario.preco">Preco</span></dt>
        <dd>
            <span>{{modeloVestuario.preco}}</span>
        </dd>
        <dt><span jhiTranslate="vestdeskApp.modeloVestuario.material">Material</span></dt>
        <dd>
            <div *ngIf="modeloVestuario.materialId">
                <a [routerLink]="['/material', modeloVestuario.materialId]">{{modeloVestuario.materialId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="vestdeskApp.modeloVestuario.modelo">Modelo</span></dt>
        <dd>
            <div *ngIf="modeloVestuario.modeloId">
                <a [routerLink]="['/modelo', modeloVestuario.modeloId]">{{modeloVestuario.modeloId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'modelo-vestuario/'+ modeloVestuario.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
