
<div *ngIf="produto">
    <h2><span jhiTranslate="vestdeskApp.produto.detail.title">Produto</span> {{produto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vestdeskApp.produto.oid">Oid</span></dt>
        <dd>
            <span>{{produto.oid}}</span>
        </dd>
        <dt><span jhiTranslate="vestdeskApp.produto.quantidadeEstoque">Quantidade Estoque</span></dt>
        <dd>
            <span>{{produto.quantidadeEstoque}}</span>
        </dd>
        <dt><span jhiTranslate="vestdeskApp.produto.descricao">Descricao</span></dt>
        <dd>
            <span>{{produto.descricao}}</span>
        </dd>
        <dt><span jhiTranslate="vestdeskApp.produto.configuracaoProduto">Configuracao Produto</span></dt>
        <dd>
            <div *ngIf="produto.configuracaoProdutoId">
                <a [routerLink]="['/configuracao-produto', produto.configuracaoProdutoId]">{{produto.configuracaoProdutoId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="vestdeskApp.produto.listaCor">Lista Cor</span></dt>
        <dd>
            <span *ngFor="let listaCor of produto.listaCors; let last = last">
                <a [routerLink]="['/cor', listaCor?.id ]">{{listaCor.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'produto/'+ produto.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
