<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProdutoLabel" jhiTranslate="vestdeskApp.produto.home.createOrEditLabel">Create or edit a Produto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vestdeskApp.produto.codigo" for="field_codigo">Código</label>
            <input type="text" class="form-control" name="codigo" id="field_codigo" [(ngModel)]="produto.codigo" required/>
            <div [hidden]="!(editForm.controls.codigo?.dirty && editForm.controls.codigo?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.codigo?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vestdeskApp.produto.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao" [(ngModel)]="produto.descricao" required/>
            <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.descricao?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vestdeskApp.produto.modelo" for="field_modelo">Modelo</label>
            <select class="form-control" name="modelo" [(ngModel)]="produto.modelo" id="field_modelo" required>
                <option value="MOLETOM">{{'vestdeskApp.Modelo.MOLETOM' | translate}}</option>
                <option value="POLO">{{'vestdeskApp.Modelo.POLO' | translate}}</option>
                <option value="CAMISA">{{'vestdeskApp.Modelo.CAMISA' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.modelo?.dirty && editForm.controls.modelo?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.modelo?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vestdeskApp.produto.tamanho" for="field_tamanho">Tamanho</label>
            <select class="form-control" name="tamanho" [(ngModel)]="produto.tamanho" id="field_tamanho" required>
                <option value="P">{{'vestdeskApp.Tamanho.P' | translate}}</option>
                <option value="M">{{'vestdeskApp.Tamanho.M' | translate}}</option>
                <option value="G">{{'vestdeskApp.Tamanho.G' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.tamanho?.dirty && editForm.controls.tamanho?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.tamanho?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vestdeskApp.produto.quantidadeEstoque" for="field_quantidadeEstoque">Quantidade Estoque</label>
            <input type="number" class="form-control" name="quantidadeEstoque" id="field_quantidadeEstoque" [(ngModel)]="produto.quantidadeEstoque"
                required/>
            <div [hidden]="!(editForm.controls.quantidadeEstoque?.dirty && editForm.controls.quantidadeEstoque?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeEstoque?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeEstoque?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vestdeskApp.produto.quantidadeInicial" for="field_quantidadeInicial">Quantidade Inicial</label>
            <input type="number" class="form-control" name="quantidadeInicial" id="field_quantidadeInicial" [(ngModel)]="produto.quantidadeInicial"
                required/>
            <div [hidden]="!(editForm.controls.quantidadeInicial?.dirty && editForm.controls.quantidadeInicial?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeInicial?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeInicial?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vestdeskApp.produto.quantidadeMinima" for="field_quantidadeMinima">Quantidade Mínima</label>
            <input type="number" class="form-control" name="quantidadeMinima" id="field_quantidadeMinima" [(ngModel)]="produto.quantidadeMinima"
                required/>
            <div [hidden]="!(editForm.controls.quantidadeMinima?.dirty && editForm.controls.quantidadeMinima?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeMinima?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeMinima?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="vestdeskApp.produto.listaCor" for="field_listaCor">Lista Cor</label>
            <select class="form-control" id="field_listaCor" multiple name="listaCor" [(ngModel)]="produto.listaCor">
                <option [ngValue]="getSelected(produto.listaCor, corOption)" *ngFor="let corOption of cors; trackBy: trackCorById" [ngStyle]="{'background-color': corOption.codigo}">{{corOption.nome}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>