
<div *ngIf="produto">
    <h2><span jhiTranslate="vestdeskApp.produto.detail.title">Produto</span> {{produto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vestdeskApp.produto.cor">Cor</span></dt>
        <dd>
            <span>{{produto.cor}}</span>
        </dd>
        <dt><span jhiTranslate="vestdeskApp.produto.tamanho">Tamanho</span></dt>
        <dd>
            <span>{{produto.tamanho}}</span>
        </dd>
        <dt><span jhiTranslate="vestdeskApp.produto.modeloVestuario">Modelo Vestuario</span></dt>
        <dd>
            <div *ngIf="produto.modeloVestuarioId">
                <a [routerLink]="['/modelo-vestuario', produto.modeloVestuarioId]">{{produto.modeloVestuarioId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'produto/'+ produto.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
