<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProdutoLabel" jhiTranslate="vestdeskApp.produto.home.createOrEditLabel">Create or edit a Produto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-md-2">
                <label class="form-control-label" jhiTranslate="vestdeskApp.produto.codigo" for="field_codigo">Código</label>
                <input type="text" class="form-control" name="codigo" id="field_codigo" [(ngModel)]="produto.codigo" required/>
                <div [hidden]="!(editForm.controls.codigo?.dirty && editForm.controls.codigo?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.codigo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="col-md-4">
                <label class="form-control-label" jhiTranslate="vestdeskApp.produto.descricao" for="field_descricao">Descricao</label>
                <input type="text" class="form-control" name="descricao" id="field_descricao" [(ngModel)]="produto.descricao" required/>
                <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.descricao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-control-label" jhiTranslate="vestdeskApp.produto.modelo" for="field_modelo">Modelo</label>
                <select-field name="modelo" id="field_modelo" [enum]="'Modelo'" [isRequired]="true" [model]="produto.modelo" (toggledChange)="produto.modelo=$event"></select-field>
                <div [hidden]="!(editForm.controls.modelo?.dirty && editForm.controls.modelo?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.modelo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-control-label" jhiTranslate="vestdeskApp.produto.cor" for="field_quantidadeMinima">Cor</label>
                <select class="form-control" id="field_cor" name="cor" [(ngModel)]="produto.cor.id" required>
                    <option [ngValue]="null"></option>
                    <option [ngValue]="corOption.id" *ngFor="let corOption of cors; trackBy: trackCorById" [ngStyle]="{'background-color': corOption.codigo}">{{corOption.nome}}</option>
                </select>
                <div [hidden]="!(editForm.controls.cor?.dirty && editForm.controls.cor?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.cor?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-control-label" jhiTranslate="vestdeskApp.produto.tamanho" for="field_tamanho">Tamanho</label>
                <select class="form-control" name="tamanho" [(ngModel)]="produto.tamanho" id="field_tamanho" required>
                    <option value="PP">{{'vestdeskApp.Tamanho.PP' | translate}}</option>
                    <option value="P">{{'vestdeskApp.Tamanho.P' | translate}}</option>
                    <option value="M">{{'vestdeskApp.Tamanho.M' | translate}}</option>
                    <option value="G">{{'vestdeskApp.Tamanho.G' | translate}}</option>
                    <option value="GG">{{'vestdeskApp.Tamanho.GG' | translate}}</option>
                    <option value="XG">{{'vestdeskApp.Tamanho.XG' | translate}}</option>
                    <option value="PPBL">{{'vestdeskApp.Tamanho.PPBL' | translate}}</option>
                    <option value="PBL">{{'vestdeskApp.Tamanho.PBL' | translate}}</option>
                    <option value="MBL">{{'vestdeskApp.Tamanho.MBL' | translate}}</option>
                    <option value="GBL">{{'vestdeskApp.Tamanho.GBL' | translate}}</option>
                    <option value="GGBL">{{'vestdeskApp.Tamanho.GGBL' | translate}}</option>
                    <option value="XGBL">{{'vestdeskApp.Tamanho.XGBL' | translate}}</option>
                </select>
                <div [hidden]="!(editForm.controls.tamanho?.dirty && editForm.controls.tamanho?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.tamanho?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-control-label" jhiTranslate="vestdeskApp.produto.preco" for="field_preco">Preço</label>
                <input type="number" class="form-control" name="preco" id="field_preco" [(ngModel)]="produto.preco"/>
                <div [hidden]="!(editForm.controls.preco?.dirty && editForm.controls.preco?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.preco?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-control-label" jhiTranslate="vestdeskApp.produto.quantidadeInicial" for="field_quantidadeInicial">Quantidade Inicial</label>
                <input [disabled]="produto.id != null" type="number" class="form-control" name="quantidadeInicial" id="field_quantidadeInicial" [(ngModel)]="produto.quantidadeInicial"
                    required/>
                <div [hidden]="!(editForm.controls.quantidadeInicial?.dirty && editForm.controls.quantidadeInicial?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeInicial?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeInicial?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-control-label" jhiTranslate="vestdeskApp.produto.quantidadeEstoque" for="field_quantidadeEstoque">Quantidade Estoque</label>
                <input type="number" class="form-control" name="quantidadeEstoque" id="field_quantidadeEstoque" [(ngModel)]="produto.quantidadeEstoque"
                    required/>
                <div [hidden]="!(editForm.controls.quantidadeEstoque?.dirty && editForm.controls.quantidadeEstoque?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeEstoque?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeEstoque?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-control-label" jhiTranslate="vestdeskApp.produto.quantidadeMinima" for="field_quantidadeMinima">Quantidade Mínima</label>
                <input type="number" class="form-control" name="quantidadeMinima" id="field_quantidadeMinima" [(ngModel)]="produto.quantidadeMinima"
                    required/>
                <div [hidden]="!(editForm.controls.quantidadeMinima?.dirty && editForm.controls.quantidadeMinima?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeMinima?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger" [hidden]="!editForm.controls.quantidadeMinima?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>

        </div>


        <div class="form-group">
            <button type="button" class="btn btn-primary float-right jh-create-entity" (click)="adicionarMaterial()">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="vestdeskApp.produto.botaoCriarMaterialTamanho">
                    Material
                </span>
            </button>
            <label class="form-control-label" jhiTranslate="vestdeskApp.produto.listaMaterialTamanho" for="field_listaMaterial">Lista Material</label>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <span jhiTranslate="vestdeskApp.materialTamanho.material">Material</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th>
                                <span jhiTranslate="vestdeskApp.materialTamanho.quantidadeMaterial">Quantidade</span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let materialTamanho of produto.listaMaterialTamanho; index as indice">
                            <td>
                                <select class="form-control" id="field_material + {{indice}}" name="field_material + {{indice}}" [(ngModel)]="materialTamanho.materialId"
                                    required>
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="material.id" *ngFor="let material of listaMateriais;">{{material.nome}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="field_quantidade_material + {{indice}}" id="field_material + {{indice}}"
                                    [(ngModel)]="materialTamanho.quantidadeMaterial" />
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="button" (click)="removerMaterialTamanho(indice);" class="btn btn-danger btn-sm">
                                        <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div [hidden]="!(editForm.controls.produto?.dirty && editForm.controls.produto?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.produto?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>