
<div *ngIf="vendaAcumulada">
    <h2><span jhiTranslate="vestdeskApp.vendaAcumulada.detail.title">Venda Acumulada</span> {{vendaAcumulada.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vestdeskApp.vendaAcumulada.quantidadeAcumulada">Quantidade Acumulada</span></dt>
        <dd>
            <span>{{vendaAcumulada.quantidadeAcumulada}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'venda-acumulada/'+ vendaAcumulada.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
