<div>
    <h2>
        <span jhiTranslate="vestdeskApp.material.home.title">Materials</span>
        <button class="btn btn-primary float-right jh-create-entity create-material" [routerLink]="['/', { outlets: { popup: ['material-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="vestdeskApp.material.home.createLabel">
            Create new Material
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="materials">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="oid"><span jhiTranslate="vestdeskApp.material.oid">Oid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span jhiTranslate="vestdeskApp.material.nome">Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="preco"><span jhiTranslate="vestdeskApp.material.preco">Preco</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantidadeEstoque"><span jhiTranslate="vestdeskApp.material.quantidadeEstoque">Quantidade Estoque</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantidadeMinima"><span jhiTranslate="vestdeskApp.material.quantidadeMinima">Quantidade Minima</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let material of materials ;trackBy: trackId">
                <td><a [routerLink]="['../material', material.id ]">{{material.id}}</a></td>
                <td>{{material.oid}}</td>
                <td>{{material.nome}}</td>
                <td>{{material.preco}}</td>
                <td>{{material.quantidadeEstoque}}</td>
                <td>{{material.quantidadeMinima}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../material', material.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'material/'+ material.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'material/'+ material.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
