<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPedidoLabel" jhiTranslate="vestdeskApp.pedido.home.createOrEditLabel">Create or edit a Pedido</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <div class="form-group" [hidden]="!pedido.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pedido.id" readonly />
        </div> -->
        <ngb-tabset>
            <ngb-tab title="Pedido">
                <ng-template ngbTabContent>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.cliente" for="field_cliente">Cliente</label>
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="cliente_nome" id="field_cliente" [(ngModel)]="pedido.cliente.nome" disabled/>
                                </div>
                                <button type="button" class="btn btn-primary col-md-2" (click)="selecionarCliente(pedido.cliente)">Selecionar</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.nomeResponsavel" for="field_nomeResonsavel">Nome Responsável</label>
                            <input type="text" class="form-control" name="nomeResponsavel" id="field_nomeResonsavel" [(ngModel)]="pedido.nomeResponsavel"
                                required/>
                            <div [hidden]="!(editForm.controls.nomeResponsavel?.dirty && editForm.controls.nomeResponsavel?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.tipoPedido" for="field_tipoPedido">Tipo Pedido</label>
                            <select class="form-control" name="tipoPedido" [(ngModel)]="pedido.tipoPedido" id="field_tipoPedido" required>
                                <option value="PRODUCAO">{{'vestdeskApp.TipoPedido.PRODUCAO' | translate}}</option>
                                <option value="VENDA">{{'vestdeskApp.TipoPedido.VENDA' | translate}}</option>
                            </select>
                            <div [hidden]="!(editForm.controls.tipoPedido?.dirty && editForm.controls.tipoPedido?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.tipoPedido?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.tipoEstampaFrente" for="field_tipoEstampaFrente">Tipo Estampa Frente</label>
                            <select class="form-control" name="tipoEstampaFrente" [(ngModel)]="pedido.tipoEstampaFrente" id="field_tipoEstampaFrente">
                                <option value="BORDADO">{{'vestdeskApp.TipoEstampa.BORDADO' | translate}}</option>
                                <option value="SILK">{{'vestdeskApp.TipoEstampa.SILK' | translate}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.tipoEstampaCosta" for="field_tipoEstampaCosta">Tipo Estampa Costa</label>
                            <select class="form-control" name="tipoEstampaCosta" [(ngModel)]="pedido.tipoEstampaCosta" id="field_tipoEstampaCosta">
                                <option value="BORDADO">{{'vestdeskApp.TipoEstampa.BORDADO' | translate}}</option>
                                <option value="SILK">{{'vestdeskApp.TipoEstampa.SILK' | translate}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.tipoEstampaMangaDireita" for="field_tipoEstampaMangaDireita">Tipo Estampa Manga Direita</label>
                            <select class="form-control" name="tipoEstampaMangaDireita" [(ngModel)]="pedido.tipoEstampaMangaDireita" id="field_tipoEstampaMangaDireita">
                                <option value="BORDADO">{{'vestdeskApp.TipoEstampa.BORDADO' | translate}}</option>
                                <option value="SILK">{{'vestdeskApp.TipoEstampa.SILK' | translate}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.tipoEstampaMangaEsquerda" for="field_tipoEstampaMangaEsquerda">Tipo Estampa Manga Esquerda</label>
                            <select class="form-control" name="tipoEstampaMangaEsquerda" [(ngModel)]="pedido.tipoEstampaMangaEsquerda" id="field_tipoEstampaMangaEsquerda">
                                <option value="BORDADO">{{'vestdeskApp.TipoEstampa.BORDADO' | translate}}</option>
                                <option value="SILK">{{'vestdeskApp.TipoEstampa.SILK' | translate}}</option>
                            </select>

                        </div>

                        <div class="col-md-4">
                            <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.dataPrevisao" for="field_dataPrevisao">Data Previsão</label>
                            <div class="input-group">
                                <input id="field_dataPrevisao" type="date" class="form-control" name="dataPrevisao"
                                    [(ngModel)]="pedido.dataPrevisao" />
                                <!-- <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dataPrevisaoDp.toggle()">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span> -->
                            </div>
                        </div>

                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Produtos">
                <ng-template ngbTabContent>
                    <div class="container">
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.nomeRoupa" for="field_nomeRoupa">Nome Roupa</label>
                                        <input type="text" class="form-control" name="nomeRoupa" id="field_nomeRoupa" [(ngModel)]="nomeRoupa" required/>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.telefone" for="field_telefone">Nome Roupa</label>
                                        <input type="text" class="form-control" name="telefone" id="field_telefone" [(ngModel)]="telefone" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.modelo" for="field_modelo">Modelo</label>
                                        <select class="form-control" name="modelo" [(ngModel)]="modelo" id="field_modelo" required>
                                            <option value="MOLETOM">{{'vestdeskApp.Modelo.MOLETOM' | translate}}</option>
                                            <option value="POLO">{{'vestdeskApp.Modelo.POLO' | translate}}</option>
                                            <option value="CAMISA">{{'vestdeskApp.Modelo.CAMISA' | translate}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.tamanho" for="field_tamanho">Tamanho</label>
                                        <select class="form-control" name="tamanho" [(ngModel)]="tamanho" id="field_tamanho" required>
                                            <option value="P">{{'vestdeskApp.Tamanho.P' | translate}}</option>
                                            <option value="M">{{'vestdeskApp.Tamanho.M' | translate}}</option>
                                            <option value="G">{{'vestdeskApp.Tamanho.G' | translate}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.cor" for="field_cor">Cor</label>
                                        <select class="form-control" id="field_cor" name="cor" [(ngModel)]="cor" required>
                                            <option [ngValue]="null"></option>
                                            <option [ngValue]="cor" *ngFor="let cor of listaCor;">{{cor.nome}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-primary" (click)="inserir()">Inserir</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <span jhiTranslate="vestdeskApp.pedidoItem.nomeRoupa">Nome</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="vestdeskApp.pedidoItem.telefone">Telefone</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="vestdeskApp.pedidoItem.tamanho">Tamanho</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="vestdeskApp.pedidoItem.modelo">Modelo</span>
                                        </th>
                                        <th>
                                            <span jhiTranslate="vestdeskApp.pedidoItem.cor">Cor</span>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pedidoItem of pedido.listaPedidoItem; index as indice">
                                        <td>
                                            {{pedidoItem.produto.nomeRoupa}}
                                        </td>
                                        <td>
                                            {{pedidoItem.telefone}}
                                        </td>
                                        <td>
                                            {{pedidoItem.produto.tamanho}}
                                        </td>
                                        <td>
                                            {{pedidoItem.produto.modelo}}
                                        </td>
                                        <td>
                                            {{pedidoItem.produto.listaCor[0].nome}}
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group flex-btn-group-container">
                                                <button type="button" (click)="removerPedidoItem(indice);" class="btn btn-danger btn-sm">
                                                    <span class="fa fa-remove"></span>
                                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div [hidden]="!(editForm.controls.produto?.dirty && editForm.controls.produto?.invalid)">
                                <small class="form-text text-danger" [hidden]="!editForm.controls.produto?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>

        <!-- <div class="form-group">
            <label class="form-control-label" jhiTranslate="vestdeskApp.pedido.dataCriacao" for="field_dataCriacao">Data Criacao</label>
            <div class="input-group">
                <input id="field_dataCriacao" type="text" class="form-control" name="dataCriacao" ngbDatepicker #dataCriacaoDp="ngbDatepicker"
                    [(ngModel)]="pedido.dataCriacao" />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dataCriacaoDp.toggle()">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div> -->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>