<div class="container-fluid">
    <div class="row table-resume-title text-center">
        <p class="col-md-12">{{resumeTitle}}</p>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="table-resume-header"></th>
                    <th *ngFor="let column of columnList" class="table-resume-header align-middle">{{column}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rowHeader">
                    <td class="table-resume-header align-middle">
                        {{row.nome}}
                    </td>
                    <td *ngFor="let column of columnList" class="table-resume-cell align-middle">
                        <a *ngFor="let data of dataList" (click)="cellClick(data)">
                            <div *ngIf="data.produto.tamanho == column && data.produto.cor.id == row.id">
                                <div class="col-md-12">
                                    {{data.quantidadeAcumulada}}
                                </div>
                            </div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>